.project {
  width: 22%;
  height: auto;
  margin-right: 2%;
  margin-top: 2%;
}

.title_div {
  margin-left: 15%;
  width: 70%;
  height: auto;
  text-align: center;
  border-bottom-width: thin;
  border-bottom-color: #999;
  border-bottom-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project_grid {
  margin-top: 5%;
  margin-left: 13%;
  text-align: center;
  width: 70%;
  background-color: rgba(0,0,0,0.4);
padding: 2%;
border-radius: 20px;
}

body {
}

.z_top {
  z-index: 10;
  position:absolute;
}
