html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#particle-canvas {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.project_img, #canvas {
  margin-right: 2%;
  margin-top: 2%;
  max-width: 100%;
  border-radius: 5%;
}

#canvas {
  position: absolute;
  max-width: 100%;
  top: 42%;
  left: 15%;
  display: none;
}

.title_div {
  margin-left: 15%;
  width: 70%;
  height: auto;
  text-align: center;
  border-bottom-width: thin;
  border-bottom-color: #999;
  border-bottom-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project_grid {
  margin-top: 5%;
  margin-left: 13%;
  text-align: center;
  width: 70%;
  background-color: rgba(0,0,0,0.4);
  padding: 2%;
  border-radius: 20px;
}

body {
}

.z_top {
  z-index: 10;
  position:absolute;
  width: 100%;
}

.project_desc {
  position: absolute;
  width: 100%;
  color: white;
}

.project_grid_item {
  width: 20%;
  height: 20%;
}

.desc_wrapper {
  position: absolute;
  width: 14%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  display: none;
  z-index: 100;
}

.footer_wrap {
  width: 100%;
  height: 150px;
  background-color: rgba(255, 163, 26, 0.4);
  bottom: 0;
  position: fixed;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.footer_content {
  margin-left: 10%;
  margin-top: 5%;
}

.contact_popup_wrap {
  position: absolute;
  width: 20%;
  left: 20%;
  top: 20%;
}

.contact_popup {
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 5%;
}

.libs_popup_wrap {
  position: absolute;
  width: 20%;
  left: 20%;
  top: 43%;
}

.libs_popup {
  width: 100%;
  height: 100%;
  background-color: gray;
  border-radius: 5%;
}

a {
  margin-right: 50%;
  display: inline-block;
  margin-bottom: 5px;
}
